# Listas

En este JNB se revisar√° el tema de Listas

In [1]:
primes = [2, 3, 5, 7]

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [3]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [4]:
my_favourite_things = [32, 'raindrops on roses', help]
# (Yes, Python's help function is *definitely* one of my favourite things)

In [5]:
planets[0]

'Mercury'

In [6]:
planets[1]

'Venus'

In [7]:
planets[-1]

'Neptune'

In [8]:
planets[-2]

'Uranus'

In [9]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

In [10]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [11]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [12]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [13]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

In [14]:
# The pair planets 
planets[::2]

['Mercury', 'Earth', 'Jupiter', 'Uranus']

In [15]:
planets[1:6:2]

['Venus', 'Mars', 'Saturn']

In [16]:
planets[6:1:-2]

['Uranus', 'Jupiter', 'Earth']

In [17]:
planets[::-1]

['Neptune', 'Uranus', 'Saturn', 'Jupiter', 'Mars', 'Earth', 'Venus', 'Mercury']

In [18]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [19]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)
# That was silly. Let's give them back their old names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [20]:
# How many planets are there?
len(planets)

8

In [21]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [24]:
planets.sort(reverse=True)
planets

['Venus', 'Uranus', 'Saturn', 'Neptune', 'Mercury', 'Mars', 'Jupiter', 'Earth']

In [43]:
planets=sorted(planets)

In [44]:
primes = [2, 3, 5, 7]
sum(primes)

17

In [45]:
max(primes)

7

In [33]:
min(primes)

2

In [35]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

0
3.0

In [36]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [37]:
x.bit_length

In [38]:
x.bit_length()

4

In [39]:
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

In [46]:
# Pluto is a planet darn it!
planets.append('Pluto')

In [47]:
planets

['Earth',
 'Jupiter',
 'Mars',
 'Mercury',
 'Neptune',
 'Pluto',
 'Saturn',
 'Uranus',
 'Venus',
 'Pluto']

In [48]:
help(planets.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [49]:
planets.pop()

'Pluto'

In [50]:
planets

['Earth',
 'Jupiter',
 'Mars',
 'Mercury',
 'Neptune',
 'Pluto',
 'Saturn',
 'Uranus',
 'Venus']

In [51]:
planets.index('Earth')

0

In [52]:
planets.index('Pluto')

5

In [53]:
# Is Earth a planet?
"Earth" in planets

True

In [54]:
# Is Calbefraques a planet?
"Calbefraques" in planets

False

In [55]:
t = (1, 2, 3)

In [56]:
t = 1, 2, 3 # equivalent to above
t

(1, 2, 3)

In [57]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [58]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [59]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [60]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1